%header.masthead
  .container
    .intro-text
      .intro-lead-in= t('welcome')
      .intro-heading.text-uppercase= t('heading1')
      %a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger{:href => "#resources"}= t('check_resources')

/ resources
%section#resources
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase= t('resources')
    .row.text-center
      - @resources.each do |resource|
        .col-md-4
          .card
            -# Test image: https://www.pexels.com/search/hotel/
            %img.card-img-top{:alt => "Card image cap", :src => "/apartment-bed-bedroom-271624.jpg"}/
            .card-body
              %h5.card-title= resource.name
              %p.card-text= resource.description
              %a.btn.btn-primary{:href => resource_path(resource)}= t('see_availability')


= render partial: 'layouts/team'
= render partial: 'layouts/contact'
