= month_calendar attribute: :date_from, end_attribute: :date_to, events: @resource.bookings do |date, bookings|
  = date.day
  - bookings.each do |booking|
    %div
      = booking.user.email

= render "bookingform"
= render "links"
